.tv{
    position: relative;
}

.tv .data{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 0%;
    background-color: #13172299;
    transition: all 0.3s ease;
    border-radius: 50%;
opacity: 0;
}
.tv:hover .data{
height: 100%;
width: 100%;
border-radius: 0px !important;
opacity: 1;
}
.vote{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 3px 9px;
    background-color: #1ABCFE;
    color: white;
    font-weight: bold;
}